.benefits {
  padding: 30px 0 60px;

  .title {
    margin-bottom: 25px;
  }
  .inner {
    display: flex;
    justify-content: space-between;
  }
  .sides {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 470px;
  }
  .box {
    max-width: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .name {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 40px;
  }
  .text {
    line-height: 30px;
  }
  .icon {
    min-width: 93px;
    background-image: url(./img/Lyre.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 35px;
  }
}