* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 245px;
}

.title {
  font-size: 45px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 45px 80px 0 0;

  .boxInput {
    height: 60px;
    width: 350px;
    margin: 0 0 40px 0;
  }
  .input {
    height: 100%;
    width: 100%;
    padding: 0 25px;
    font-size: 21px;
    outline: none;
    border: none;

    &::placeholder {
      color: #a1a1a1;
    }
  }
  .button {
    cursor: pointer;
    padding: 15px 105px;
    border: 1px solid #fff;
    background-color: #ba271f;
    color: #fff;
    font-size: 21px;
  }
}
.footer {
  padding: 55px 0 14px;
  text-align: center;
  color: #fff;
  background-color: #a99473;

  .origin {
    margin-bottom: 30px;  
  }
  .social {
    width: 240px;
    margin-bottom: 8px;
  }
  .icon {
    width: 48px;
    height: 48px;

    &Red {
      filter: hue-rotate(120deg) brightness(95%) saturate(3);
    }
  }
  .twitter {
    background-image: url(./Footer/img/foot-twitter.png);
  }
  .facebook {
    background-image: url(./Footer/img/foot-facebook.png);
  }
  .google {
    background-image: url(./Footer/img/foot-google.png);
  }
}
